:host {
  border-radius: var(--v-card-border-radius, var(--unit-2));
  padding: var(--v-card-padding, var(--unit-2));
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;

  box-shadow: 3px 3px 6px var(--shadow-dark-light), -3px -3px 6px var(--shadow-light-strong);

  /* more complex shadows, decide later: */
  /* box-shadow:
    2px 2px 4px rgba(174, 174, 192, 0.16),
    -2px -2px 4px rgba(255, 255, 255, 0.9),
    4px 4px 8px rgba(174, 174, 192, 0.12),
    -4px -4px 8px rgba(255, 255, 255, 0.7),
    6px 6px 12px rgba(174, 174, 192, 0.08),
    -6px -6px 12px rgba(255, 255, 255, 0.5); */

  background: var(--color-bg-default);
  /* background: color-mix(in srgb, var(--color-bg-default) 85%, transparent); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* gradient for dimensionality, decide later: */
  /* background: linear-gradient(120deg, #ebf2f9 19.14%, #c6d7eb 154.68%); */
}
