:host {
  border-radius: var(--v-card-border-radius, var(--unit-2));
  padding: var(--v-card-padding-y, var(--unit-2)) var(--v-card-padding-x, var(--unit-2));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  --v-card-transition-duration: var(--v-theme-transition-duration, 0.2s);

  outline: var(--v-outline);
  outline-offset: var(--v-outline-offset);
  background: var(--v-color-surface);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition:
    background var(--v-card-transition-duration) ease,
    var(--v-outline-transition);
}

:host(.v-card-selected) {
  outline: 2px solid var(--v-color-primary);
}
