:host {
  border-radius: var(--v-card-border-radius, var(--unit-2));
  padding: var(--v-card-padding, var(--unit-2));
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  --v-card-transition-duration: 0.2s;

  border: 1px solid var(--v-color-border-subtle);
  background: var(--v-color-surface);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition:
    background var(--v-card-transition-duration) ease,
    border-color var(--v-card-transition-duration) ease;
}
