:host {
  border-radius: var(--v-card-border-radius, var(--unit-2));
  padding: var(--v-card-padding, var(--unit-2));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  --v-card-transition-duration: 0.2s;

  outline: var(--v-outline);
  outline-offset: var(--v-outline-offset);
  background: var(--v-color-surface);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition:
    background var(--v-card-transition-duration) ease,
    var(--v-outline-transition);
}
