<div class="dropdown-wrapper"
     [class.select-mode]="isSelectMode$$()"
     [class.open]="isOpen$$()"
     [formGroup]="internalForm">

  <v-input #inputComponent
           [config]="inputConfig$$()"
           formControlName="search"
           (onFocused)="onFocus()"
           (onBlurred)="onBlur()">
    @if (isSelectMode$$()) {
      @if (selectedItemWithIcon$$(); as selectedItem) {
        <div v-prefix
             class="selected-item-icon">
          <v-icon [name]="selectedItem.iconName"
                  [size]="4"
                  [ngStyle]="iconRotationStyle(selectedItem)" />
        </div>
      }
    }

    @if (value$$() && !isSelectMode$$()) {
      <div v-postfix
           class="clear-icon"
           (mousedown)="$event.preventDefault()"
           (click)="clearInput()">
        <svg width="12"
             height="12"
             viewBox="0 0 12 12"
             fill="none">
          <path d="M9 3L3 9M3 3L9 9"
                stroke="currentColor"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
      </div>
    }
  </v-input>

  @if (isOpen$$() && filteredItems$$().length > 0) {
    <div class="dropdown-list"
         [ngStyle]="dropdownListStyles$$()">
      @for (item of filteredItems$$(); track item.value) {
        <div class="dropdown-item"
             [class.selected]="item.value === selectedValue$$()"
             [class.has-right-label]="!!item.rightLabel || !!item.iconName"
             (click)="selectItem(item)">
          <span>{{ item.label }}</span>

          @if (item.rightLabel || item.iconName) {
            <span class="dropdown-item-right">
              @if (item.rightLabel) {
                <span>{{ item.rightLabel }}</span>
              }

              @if (item.iconName) {
                <v-icon [name]="item.iconName"
                        [size]="4"
                        [ngStyle]="iconRotationStyle(item)" />
              }
            </span>
          }
        </div>
      }
    </div>
  }

  @if (isOpen$$() && filteredItems$$().length === 0 && value$$()) {
    <div class="dropdown-list"
         [ngStyle]="dropdownListStyles$$()">
      <div class="dropdown-item empty">
        No items found
      </div>
    </div>
  }
</div>
