[v-style='flat'] {
  --v-shadow-outer-0: none;
  --v-shadow-outer-1: none;
  --v-shadow-outer-2: none;
  --v-shadow-inset-0: none;
  --v-shadow-inset-1: none;
  --v-shadow-inset-2: none;
  --v-shadow-inset-3: none;
}
