@import '@ui-kit/styles/vars.css';

:host {
  display: block;
  overflow: hidden;
  position: relative;
}

.header {
  border-radius: var(--v-expand-border-radius);
  cursor: pointer;
  user-select: none;
  transition: background-color var(--animation-duration-fast) var(--v-expand-animation-timing-function);
}

.header:hover {
}

.header-content {
}

.body {
  height: 0;
  transition: height var(--animation-duration-fast) var(--v-expand-animation-timing-function);
}

.body.expanded {
  height: auto;
}

:host.no-transition .body {
  transition: none !important;
}
