:host {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: var(--v-icon-size, var(--unit-4));
  height: var(--v-icon-size, var(--unit-4));
  color: var(--v-icon-color, currentColor);
  /* transition: all 0.2s ease; */
}

.icon-svg {
  width: 100%;
  height: 100%;
  background-color: currentColor;
  mask-image: var(--v-icon-background);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
