<span #triggerElem
      class="trigger"
      tabindex="0"
      (mouseenter)="open()"
      (mouseleave)="close()"
      (focus)="open()"
      (blur)="close()">
  <ng-content />
</span>

@if (isOpen$$()) {
  <div #panelElem
       class="panel"
       [class.below]="placement$$() === 'bottom'"
       [class.visible]="isPositioned$$()"
       [style.top.px]="fixedTop$$()"
       [style.left.px]="fixedLeft$$()"
       [style.max-width]="noWrap() ? 'none' : maxWidth()">
    <ng-content select="[v-panel]" />
  </div>
}
