<div class="slider"
     #root
     (pointermove)="onPointerMove($event)"
     (pointerup)="onPointerUp($event)"
     (pointercancel)="onPointerUp($event)">

  <div class="track"
       #track
       (pointerdown)="onTrackPointerDown($event)">

    <div class="fill"
         (pointerdown)="onFillPointerDown($event)"></div>

    <div class="thumb-hit-area"
         [class.touch-active]="touchActive$$() && activeTouchThumb$$() === 'start'"
         [style.left]="thumbStartPosition$$()"
         (pointerdown)="onThumbPointerDown($event, 'start')"></div>
    <div class="thumb"
         [style.left]="thumbStartPosition$$()"
         (pointerdown)="onThumbPointerDown($event, 'start')">
      <div class="thumb-grip">
        <span class="thumb-grip-line"></span>
        <span class="thumb-grip-line"></span>
        <span class="thumb-grip-line"></span>
      </div>
    </div>

    @if (isRange$$()) {
      <div class="thumb-hit-area"
           [class.touch-active]="touchActive$$() && activeTouchThumb$$() === 'end'"
           [style.left]="thumbEndPosition$$()"
           (pointerdown)="onThumbPointerDown($event, 'end')"></div>
      <div class="thumb"
           [style.left]="thumbEndPosition$$()"
           (pointerdown)="onThumbPointerDown($event, 'end')">
        <div class="thumb-grip">
          <span class="thumb-grip-line"></span>
          <span class="thumb-grip-line"></span>
          <span class="thumb-grip-line"></span>
        </div>
      </div>
    }

  </div>

</div>
