[v-theme='neumorphic-blue'] {
  background-color: var(--v-color-bg);
  color: var(--v-color-text);

  --v-color-accent: #3f51b5;
  --v-color-accent-gradient-light: #717dc1;
  --v-color-accent-gradient-dark: #3f51b5;

  --v-color-success: #22c55e;
  --v-color-warning: #f97316;
  --v-color-danger: #ef4444;
  --v-color-danger-gradient-light: #f87171;
  --v-color-danger-gradient-dark: #ef4444;

  --v-color-text: #374151;
  --v-color-text-muted: #6b7280;
  --v-color-text-danger: #ef4444;
  --v-color-text-on-accent: #ffffff;

  --v-color-bg: #ebf3fa;
  /* --v-color-bg: white; */
  --v-color-surface: #ebf3fa;
  /* --v-color-surface: white; */
  --v-color-surface-accent: #c7d2fe;
  --v-color-border-subtle: rgba(174, 174, 192, 0.6);

  --v-shadow-color-dark: rgba(174, 174, 192, 0.3);
  --v-shadow-color-dark-strong: rgba(174, 174, 192, 0.5);
  --v-shadow-color-light: rgba(255, 255, 255, 0.9);
  --v-shadow-color-light-strong: rgba(255, 255, 255, 1);
}
