::ng-deep {
  .BMI .header {
    justify-content: center !important;
  }

  .weight-input {
    input {
      text-align: center;
      font-size: x-large !important;
      font-weight: 600;
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  gap: var(--unit-4);
  width: var(--unit-96);
}

.item.open {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.3px;
    background: linear-gradient(to right, transparent, var(--slate-400), transparent);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.items {
  position: relative;
  display: flex;
  flex-direction: column;
}
