:host {
  display: block;
  width: 100%;
}

.progress-track {
  position: relative;
  width: 100%;
  height: var(--v-progress-height, var(--unit-3));
  border-radius: var(--v-progress-border-radius, var(--unit-2));
  background: var(--v-color-surface);
  overflow: hidden;

  box-shadow: var(--v-shadow-inset-2);
}

.progress-bar {
  position: absolute;
  top: var(--v-progress-bar-gap, 1px);
  left: var(--v-progress-bar-gap, 1px);
  height: calc(100% - var(--v-progress-bar-gap, 1px) * 2);
  width: calc(var(--v-progress-percentage, 0%) - var(--v-progress-bar-gap, 1px) * 2);
  background: var(--v-progress-bar-color, var(--v-color-accent));
  transition: width var(--animation-duration-medium) ease;
  border-radius: calc(var(--v-progress-border-radius, var(--unit-2)) - var(--v-progress-bar-gap, 1px));
}

:host([bar-style='flat']) .progress-bar {
  box-shadow: none;
}

:host([bar-style='inset']) .progress-bar {
  box-shadow: var(--v-bar-shadow-inset);
}

:host([bar-style='raised']) .progress-bar {
  box-shadow: var(--v-bar-shadow-raised);
}

.progress-wrapper {
  position: relative;
}

.progress-values {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--unit-1);
  font-size: 0.75rem;
  color: var(--v-color-text-muted);
  font-weight: 500;
}

.value-edge {
  color: var(--v-color-text-muted);
  font-weight: 500;
  font-size: 0.75rem;
}

.value-edge.is-primary {
  color: var(--v-color-text);
  font-weight: 600;
}

.value-current {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  color: var(--v-color-text-muted);
  font-weight: 500;
  font-size: 0.75rem;
  transition: left var(--animation-duration-medium) ease;
}

.value-middle {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  color: var(--v-color-text);
  font-weight: 600;
  font-size: 0.875rem;
  transition: left var(--animation-duration-medium) ease;
}
