:host {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown-wrapper {
  position: relative;
  width: 100%;
  background: var(--color-bg-default);
  border-radius: var(--unit-1);

  &.open {
    z-index: var(--v-dropdown-z-index);
  }
}

.clear-icon {
  padding-right: var(--unit-2);
  color: var(--color-text-muted);
  transition: color var(--animation-duration-medium) ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: var(--unit-6);
    height: var(--unit-6);
  }

  &:hover {
    color: var(--color-text-default);
  }
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: calc(var(--v-dropdown-z-index) + 1);
  border-radius: var(--unit-1);
  max-height: 200px;
  overflow-y: auto;

  /* box-shadow:
    3px 3px 6px var(--shadow-dark-light),
    -3px -3px 6px var(--shadow-light-strong); */

  background: var(--color-bg-default);

  &.align-left {
    left: auto;
    right: 0;
  }
}

.dropdown-item {
  padding: var(--unit-2);
  cursor: pointer;
  transition: all var(--animation-duration-medium) ease;
  color: var(--color-text-default);

  &:hover {
    box-shadow: inset 2px 2px 2px var(--shadow-dark-light), inset -2px -2px 2px var(--shadow-light-strong);
  }

  &:first-child {
    border-radius: var(--unit-1) var(--unit-1) 0 0;
  }

  &:last-child {
    border-radius: 0 0 var(--unit-1) var(--unit-1);
  }

  &:only-child {
    border-radius: var(--unit-1);
  }

  &.empty {
    color: var(--color-text-muted);
    cursor: default;
    font-style: italic;

    &:hover {
      box-shadow: none;
    }
  }
}
