@import '@app/shared/ui-kit/vars.css';

:host {
  display: block;
  overflow: hidden;
  position: relative;
}

.header {
  border-radius: var(--v-expand-border-radius);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.1s ease-in-out;
}

.header:hover {
}

.header-content {
}

.body {
  height: 0;
  transition: height 0.1s ease-in-out;
}

.body.expanded {
  height: auto;
}

:host.no-transition .body {
  transition: none !important;
}
