@import 'tailwindcss';

:root {
  --gradient-color: var(--color-primary-gradient-lighter);
  --gradient-bg: var(--color-bg-default);

  /* most important property that allows animating height */
  interpolate-size: allow-keywords;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-bg-default);
}
