@import 'tailwindcss';

:root {
  --gradient-color: var(--v-color-accent-gradient-light);
  --gradient-bg: var(--v-color-bg);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--v-color-bg);
}
