@if (label() || labelRight()) {
  <label class="label"
         [class.label-split]="!!labelRight()"
         [for]="inputId">
    <span>{{ label() }}</span>
    @if (labelRight()) {
      <span class="label-right">{{ labelRight() }}</span>
    }
  </label>
}

<div class="input-wrapper"
     [class.focused]="isFocused$$()"
     [class.clickable-readonly]="isReadonly() && isClickable()"
     [class.disabled]="isDisabled()"
     (mousedown)="onWrapperMouseDown($event)">

  <div class="prefix">
    <ng-content select="[v-prefix]" />
  </div>

  @if (isTextarea()) {
    <textarea #inputElement
              [id]="inputId"
              [value]="displayValue$$()"
              [name]="name() || inputId"
              [placeholder]="placeholder()"
              [disabled]="isDisabled()"
              [readonly]="isReadonly()"
              [rows]="rows()"
              [cols]="cols()"
              [style.text-align]="textAlign()"
              [style.--v-input-font-weight]="fontWeight()"
              [style.--v-input-font-size]="fontSize()"
              class="input-field textarea-field"
              (input)="onInputChange($event)"
              (change)="onInputChange($event)"
              (compositionstart)="onCompositionStart()"
              (compositionend)="onCompositionEnd()"
              (focus)="onFocus()"
              (blur)="onBlur()"
              (keydown)="onKeydown($event)"></textarea>
  } @else {
    <input #inputElement
           [id]="inputId"
           [value]="displayValue$$()"
           [name]="name() || inputId"
           [type]="type()"
           [placeholder]="placeholder()"
           [disabled]="isDisabled()"
           [readonly]="isReadonly()"
           [attr.size]="inputSize()"
           [attr.inputmode]="inputmode() || null"
           [attr.pattern]="pattern() || null"
           [style.text-align]="textAlign()"
           [style.--v-input-font-weight]="fontWeight()"
           [style.--v-input-font-size]="fontSize()"
           class="input-field"
           (input)="onInputChange($event)"
           (change)="onInputChange($event)"
           (compositionstart)="onCompositionStart()"
           (compositionend)="onCompositionEnd()"
           (focus)="onFocus()"
           (blur)="onBlur()"
           (keydown)="onKeydown($event)" />
  }

  <div class="postfix">
    <ng-content select="[v-postfix]" />
  </div>

</div>

@if (errorMessage$$()) {
  <div class="error-message">
    {{ errorMessage$$() }}
  </div>
}
