[v-theme='flat-blue'] {
  background-color: var(--v-color-bg);
  color: var(--v-color-text);

  --v-color-primary: #5664b7;
  --v-color-accent: #1d851c;

  --v-color-success: #22c55e;
  --v-color-warning: #f97316;
  --v-color-danger: #ef4444;

  --v-color-text: #333333;
  --v-color-text-muted: #64748b;
  --v-color-text-danger: #ef4444;
  --v-color-text-on-accent: #ffffff;
  --v-color-text-on-success: #ffffff;
  --v-color-text-on-warning: #ffffff;

  --v-color-bg: #f6f7f8;
  --v-color-surface: #ffffff;
  --v-color-surface-accent: #f1f5f9;
  --v-color-border-subtle: #e2e8f0;

  --v-shadow-color-dark: rgba(15, 23, 42, 0.12);
  --v-shadow-color-dark-strong: rgba(15, 23, 42, 0.2);
  --v-shadow-color-light: rgba(255, 255, 255, 0.9);
  --v-shadow-color-light-strong: rgba(255, 255, 255, 1);

  --v-slider-thumb-shadow-color: rgba(15, 23, 42, 0.2);
  --v-slider-thumb-shadow-color-strong: rgba(15, 23, 42, 0.3);

  --v-input-auto-submit-progress-color: #137fec;
  --v-input-auto-submit-success-color: #22c55e;
  --v-input-auto-submit-error-color: #ef4444;

  /* TONAL VARIABLE COLOR THEME EXPERIMENT: */
  --color-base-offset: 10%;
  --color-base-light: color-mix(in oklch, white calc(100% - var(--color-base-offset)), black var(--color-base-offset));
  --color-base-dark: color-mix(in oklch, black calc(100% - var(--color-base-offset)), white var(--color-base-offset));

  --v-color-primary-new: #0000ff;
  --color-base: var(--color-base-light);

  --color-primary-level-0: var(--v-color-primary-new);
  --color-primary-level-1: color-mix(in oklch, var(--v-color-primary-new) 93%, black 7%);
  --color-primary-level-2: color-mix(in oklch, var(--v-color-primary-new) 85%, black 15%);
  --color-primary-level-3: color-mix(in oklch, var(--v-color-primary-new) 75%, black 25%);

  --color-surface-level-0: color-mix(in oklch, white 88%, var(--v-color-primary-new) 12%);
  --color-surface-level-1: color-mix(in oklch, white 84%, var(--v-color-primary-new) 16%);
  --color-surface-level-2: color-mix(in oklch, white 80%, var(--v-color-primary-new) 20%);
  --color-surface-level-3: color-mix(in oklch, white 76%, var(--v-color-primary-new) 24%);
}

.dark [v-theme='flat-blue'],
[v-theme='flat-blue'].dark,
[v-theme='flat-blue'] .dark {
  background-color: var(--v-color-bg);
  color: var(--v-color-text);

  --v-color-primary: #345eb2;
  --v-color-accent: #0b690b;

  --v-color-success: #22c55e;
  --v-color-warning: #f97316;
  --v-color-danger: #c02525;

  --v-color-text: #cecece;
  --v-color-text-muted: #94a3b8;
  --v-color-text-danger: #f87171;
  --v-color-text-on-accent: #ffffff;
  --v-color-text-on-success: #101922;
  --v-color-text-on-warning: #101922;

  --v-color-bg: #101922;
  --v-color-surface: #1f2937;
  --v-color-surface-accent: #111827;
  --v-color-border-subtle: #334155;

  --v-shadow-color-dark: rgba(0, 0, 0, 0.6);
  --v-shadow-color-dark-strong: rgba(0, 0, 0, 0.75);
  --v-shadow-color-light: rgba(255, 255, 255, 0.08);
  --v-shadow-color-light-strong: rgba(255, 255, 255, 0.12);

  --v-slider-thumb-shadow-color: rgba(0, 0, 0, 0.5);
  --v-slider-thumb-shadow-color-strong: rgba(0, 0, 0, 0.7);

  --v-input-auto-submit-progress-color: #137fec;
  --v-input-auto-submit-success-color: #22c55e;
  --v-input-auto-submit-error-color: #ef4444;

  /*
  --color-base: var(--color-base-dark);
  background-color: var(--color-surface-level-0);

  --color-primary-level-0: var(--v-color-primary-new);
  --color-primary-level-1: color-mix(in oklch, var(--v-color-primary-new) 90%, black 10%);
  --color-primary-level-2: color-mix(in oklch, var(--v-color-primary-new) 80%, black 20%);
  --color-primary-level-3: color-mix(in oklch, var(--v-color-primary-new) 70%, black 30%);

  --color-surface-level-0: color-mix(in oklch, var(--color-base-dark) 85%, var(--v-color-primary-new) 15%);
  --color-surface-level-1: color-mix(in oklch, var(--color-base-dark) 78%, var(--v-color-primary-new) 22%);
  --color-surface-level-2: color-mix(in oklch, var(--color-base-dark) 70%, var(--v-color-primary-new) 30%);
  --color-surface-level-3: color-mix(in oklch, var(--color-base-dark) 62%, var(--v-color-primary-new) 38%);
  */
}
