[v-theme='flat-blue'] {
  background-color: var(--v-color-bg);
  color: var(--v-color-text);

  --v-color-primary: #3f51b5;
  --v-color-accent: #1d851c;

  --v-color-success: #22c55e;
  --v-color-warning: #f97316;
  --v-color-danger: #ef4444;

  --v-color-text: #333333;
  --v-color-text-muted: #64748b;
  --v-color-text-danger: #ef4444;
  --v-color-text-on-accent: #ffffff;

  --v-color-bg: #f6f7f8;
  --v-color-surface: #ffffff;
  --v-color-surface-accent: #f1f5f9;
  --v-color-border-subtle: #e2e8f0;

  --v-shadow-color-dark: rgba(15, 23, 42, 0.12);
  --v-shadow-color-dark-strong: rgba(15, 23, 42, 0.2);
  --v-shadow-color-light: rgba(255, 255, 255, 0.9);
  --v-shadow-color-light-strong: rgba(255, 255, 255, 1);

  --v-slider-thumb-shadow-color: rgba(15, 23, 42, 0.2);
  --v-slider-thumb-shadow-color-strong: rgba(15, 23, 42, 0.3);

  --v-input-auto-submit-progress-color: #137fec;
  --v-input-auto-submit-success-color: #22c55e;
  --v-input-auto-submit-error-color: #ef4444;
}

.dark [v-theme='flat-blue'],
[v-theme='flat-blue'].dark,
[v-theme='flat-blue'] .dark {
  background-color: var(--v-color-bg);
  color: var(--v-color-text);

  --v-color-primary: #0651ae;
  --v-color-accent: #0b690b;

  --v-color-success: #22c55e;
  --v-color-warning: #f97316;
  --v-color-danger: #c02525;

  --v-color-text: #cecece;
  --v-color-text-muted: #94a3b8;
  --v-color-text-danger: #f87171;
  --v-color-text-on-accent: #ffffff;

  --v-color-bg: #101922;
  --v-color-surface: #1f2937;
  --v-color-surface-accent: #111827;
  --v-color-border-subtle: #334155;

  --v-shadow-color-dark: rgba(0, 0, 0, 0.6);
  --v-shadow-color-dark-strong: rgba(0, 0, 0, 0.75);
  --v-shadow-color-light: rgba(255, 255, 255, 0.08);
  --v-shadow-color-light-strong: rgba(255, 255, 255, 0.12);

  --v-slider-thumb-shadow-color: rgba(0, 0, 0, 0.5);
  --v-slider-thumb-shadow-color-strong: rgba(0, 0, 0, 0.7);

  --v-input-auto-submit-progress-color: #137fec;
  --v-input-auto-submit-success-color: #22c55e;
  --v-input-auto-submit-error-color: #ef4444;
}
