[v-style='neumorphic-style'] {
  --v-shadow-outer-0: 2px 2px 4px var(--v-shadow-color-dark), -2px -2px 4px var(--v-shadow-color-light);
  --v-shadow-outer-1: 3px 3px 6px var(--v-shadow-color-dark), -3px -3px 6px var(--v-shadow-color-light);
  --v-shadow-outer-2: 4px 4px 8px var(--v-shadow-color-dark), -4px -4px 8px var(--v-shadow-color-light);

  --v-shadow-inset-0: inset 1px 1px 2px var(--v-shadow-color-dark), inset -1px -1px 2px var(--v-shadow-color-light);
  --v-shadow-inset-1: inset 2px 2px 4px var(--v-shadow-color-dark), inset -2px -2px 4px var(--v-shadow-color-light);
  --v-shadow-inset-2: inset 3px 3px 3px var(--v-shadow-color-dark), inset -3px -3px 3px var(--v-shadow-color-light);
  --v-shadow-inset-3:
    inset 4px 4px 4px var(--v-shadow-color-dark-strong), inset -4px -4px 4px var(--v-shadow-color-light-strong);

  --v-bar-shadow-inset: inset 1px 1px 2px rgba(24, 24, 24, 0.3), inset -1px -1px 2px rgba(255, 255, 255, 0.3);
  --v-bar-shadow-raised: inset 1px 1px 3px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(24, 24, 24, 0.3);

  --v-slider-thumb-shadow: 3px 3px 6px var(--v-slider-thumb-shadow-color);
  --v-slider-thumb-shadow-hover: 4px 4px 8px var(--v-slider-thumb-shadow-color);
  --v-slider-thumb-shadow-active: 2px 2px 4px var(--v-slider-thumb-shadow-color-strong);
}
