:root {
  --unit-0: 0;
  --unit-1: 4px;
  --unit-2: 8px;
  --unit-3: 12px;
  --unit-4: 16px;
  --unit-5: 20px;
  --unit-6: 24px;
  --unit-7: 28px;
  --unit-8: 32px;
  --unit-9: 36px;
  --unit-10: 40px;
  --unit-11: 44px;
  --unit-12: 48px;
  --unit-14: 56px;
  --unit-16: 64px;
  --unit-20: 80px;
  --unit-24: 96px;
  --unit-28: 112px;
  --unit-32: 128px;
  --unit-36: 144px;
  --unit-40: 160px;
  --unit-44: 176px;
  --unit-48: 192px;
  --unit-52: 208px;
  --unit-56: 224px;
  --unit-60: 240px;
  --unit-64: 256px;
  --unit-72: 288px;
  --unit-80: 320px;
  --unit-96: 384px;
  --unit-100: 400px;
  --unit-128: 512px;

  --unit--1: -4px;
  --unit--2: -8px;
  --unit--3: -12px;
  --unit--4: -16px;
  --unit--6: -24px;
  --unit--8: -32px;
  --unit--12: -48px;
  --unit--16: -64px;

  --color-primary: #3f51b5;
  --color-primary-gradient-lighter: #717dc1;
  --color-primary-gradient-darker: #3f51b5;

  --color-success: #22c55e;

  --color-danger: #ef4444;
  --color-danger-gradient-lighter: #f87171;
  --color-danger-gradient-darker: #ef4444;
  /* --color-danger-gradient-darker: #dc2626; */

  --color-nutrient-low: var(--color-primary-gradient-darker);
  --color-nutrient-target: var(--color-success);
  --color-nutrient-high: var(--color-danger-gradient-darker);

  --color-text-default: #374151;
  --color-text-muted: #6b7280;
  --color-text-error: #ef4444;
  --color-text-on-dark: #ffffff;

  --color-bg-default: #ebf3fa;
  --color-bg-accent: #c7d2fe;

  --shadow-dark-light: rgba(174, 174, 192, 0.3);
  --shadow-dark-medium: rgba(174, 174, 192, 0.5);
  --shadow-light-strong: rgba(255, 255, 255, 0.9);
  --shadow-light-full: rgba(255, 255, 255, 1);

  /* --color-text-disabled */
  /* --color-text-accent */
  /* --color-bg-subtle */
  /* --color-bg-accent */
  /* --color-bg-error */
  /* --color-border-default */
  /* --color-border-muted */
  /* --color-border-error */
  /* --color-primary */
  /* --color-success */
  /* --color-warning */
  /* --color-error */
}
