nav {
  background: var(--tw-bg-color-90);
  border-right: 1px solid var(--tw-bg-color-70);
}

.side-menu-button {
  position: relative;
}

.menu-btn-bg {
  height: 80px;
  width: 80px;
  background-size: 80px;
  transform: rotate(15deg);
  opacity: 0.10;
}

.food-bg {
  background-image: url('/../ui-kit-assets/icons/restaurant.svg');
}

.money-bg {
  background-image: url('/../ui-kit-assets/icons/paid.svg');
}

.settings-bg {
  background-image: url('/../ui-kit-assets/icons/settings.svg');
}

.login-bg {
  background-image: url('/../ui-kit-assets/icons/login.svg');
}

.register-bg {
  background-image: url('/../ui-kit-assets/icons/person_add.svg');
}
