:host {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.75rem;
  color: var(--v-color-text-muted);
  margin-left: calc(var(--unit-2));
  display: block;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--unit-2) 0;
  border-radius: var(--v-input-border-radius, var(--unit-2));
  box-sizing: border-box;
  transition: all var(--animation-duration-medium) ease;
  isolation: isolate;

  box-shadow: var(--v-shadow-inset-2);

  background: var(--v-color-surface);

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &.focused {
    box-shadow: var(--v-shadow-inset-3);
  }

  .prefix,
  .postfix {
    display: flex;
    min-width: var(--unit-2);
    position: relative;
    z-index: 1;
  }
}

.input-field {
  background: transparent;
  border: none;
  outline: none;
  font-size: var(--v-input-font-size, 1rem);
  color: var(--v-color-text);
  flex: 1;
  font-family: inherit;
  font-weight: var(--v-input-font-weight, 400);
  position: relative;
  z-index: 1;

  &::placeholder {
    font-style: italic;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:read-only {
    cursor: default;
  }

  /* A hack to remove background in chrome autofilled input that overlaps with neumorphic styling */
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
  }
}

.textarea-field {
  resize: vertical;
  min-height: 60px;
  line-height: 1.5;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.error-message {
  color: var(--v-color-text-danger);
  font-size: 0.75rem;
  margin-left: calc(var(--unit-2));
  font-weight: 500;
}
